nav .links a {
  color: #6910A8;
  text-decoration: none;
  margin: 0 20px;
  font-weight: 500;
}
nav .signout {
  background-color: white;
  color: #6910A8;
  border: none;
  padding: 8px 20px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}
